<h1>Menu</h1>
<div class="btn-group">
<% @section.each do |section| %> 

<%= link_to section.name, menu_path(section_id: section.id), class: "btn  #{params[:section_id]== section.id.to_s ? 'btn-primary' : 'btn-secondary'}" %>
<% end %>
</div>

<% if @current_section  %>
<table class = "table">
<thead>
<tr>
<th>Name </th>
<th>Price</th>
<th> Image</th>
</tr>
</thead>
<div class ="tbody">

<% @current_section.food_items.each do |item| %>
<tr>
<td><%= item.name %></td>
<td><%= number_to_currency item.price %></td>
<td><%= image_tag item.image_url_or_default %></td>
<td><%= link_to "Add to order", new_food_item_order_path(item) %></td>
</tr>
<% end %>
</div>
</table>
<% else %>
<div class="alert alert-info">Please select a section</div>
<% end %>